#logo {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}
#data {
    width: 600px;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

#main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    margin: auto;
    height: 100vh;
}

#button-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}

#get-joke {
    border: none;
    font-size: 24px;
    background-color: red;
    padding: 12px 24px;
    margin-top: 12px;
    color: #fff;
    border-radius: 25px;
}

.button {
    width: 180px;
    margin: 10px;
    border: none;
    background-color: #fff;
    border: 2px solid #262626;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    color: #262626;

}

.button:hover {
    background-color: #BBBFCA;
}

